<ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" id="formulario-tab">Formulario</a></li>
  <li><a href="javascript:void(0)" class="tablinks" id="consultar-tab">Consultar contratos</a></li>
</ul>
